@using Markdig
@using Microsoft.AspNetCore.Html

@model PostViewModel
@{
    ViewData["Title"] = Model.Post.Title;
}

@if (Context.User.IsInRole(Constants.AdminRole))
{
    <h1>
        @Model.Post.Title <a class="btn btn-light" href="~/post/@Model.Post.Id/edit">✏️</a>
    </h1>
    if (Model.Post.PublishTime == default)
    {
        <p>Entwurf - @Model.WordCount Wörter - zuletzt bearbeitet am @Model.Post.ModifyTime</p>
    }
    else
    {
        <p>Gepostet am @Model.Post.PublishTime - @Model.WordCount Wörter - <a href="~/post/@Model.Post.Id/reads">@Model.ReadCount Aufrufe</a> bisher</p>
    }
}
else
{
    <h1>@Model.Post.Title</h1>
    <p>Gepostet am @Model.Post.PublishTime - @Model.WordCount Wörter - @Model.ReadCount Aufrufe bisher</p>
}

@{
    Write(new HtmlString(Markdown.ToHtml(Model.Post.Content)));
}
