@using Markdig
@using Microsoft.AspNetCore.Html
@using TravelBlog.Extensions

@model PostViewModel
@{
    // .NET 6 does not allow to enforce callers to pass a view model:
    // https://github.com/dotnet/aspnetcore/issues/37510
    if (Model is null) throw new ArgumentNullException(nameof(Model));

    ViewData["Title"] = Model.Post.Title;
}

@if (Context.User.IsInRole(Constants.AdminRole))
{
    <h1>
        @Model.Post.Title <a class="btn btn-light" href="~/post/@Model.Post.Id/edit">✏️</a>
    </h1>
    if (Model.Post.PublishTime == default)
    {
        <p class="text-secondary">Entwurf - @Model.WordCount Wörter - zuletzt bearbeitet am <span class="js-convert-datetime" data-timestamp="@Model.Post.ModifyTime.ToUnixTimeMilliseconds()"></span></p>
    }
    else
    {
        <p class="text-secondary">Gepostet am <span class="js-convert-datetime" data-timestamp="@Model.Post.PublishTime.ToUnixTimeMilliseconds()"></span> - @Model.WordCount Wörter - <a href="~/post/@Model.Post.Id/reads">@Model.ReadCount Aufrufe</a> bisher</p>
    }
}
else
{
    <h1>@Model.Post.Title</h1>
    <p>Gepostet am <span class="js-convert-datetime" data-timestamp="@Model.Post.PublishTime.ToUnixTimeMilliseconds()"></span> - @Model.WordCount Wörter - @Model.ReadCount Aufrufe bisher</p>
}

@{
    Write(Model.HtmlContent);
}

@section Scripts {
    <script src="~/js/dateconverter.js" asp-append-version="true"></script>
}
