@using TravelBlog.Database
@using TravelBlog.Database.Entities
@using TravelBlog.Extensions

@model PostReadsViewModel
@{
    ViewData["Title"] = $"Seitenaufrufe für {Model.Post.Title}";
}

<h1>Seitenaufrufe für <a href="~/post/@Model.Post.Id">@Model.Post.Title</a></h1>

@if (Model.Reads.Count > 0)
{
    <p class="text-muted">Insgesamt @Model.Reads.Count</p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Zugriff</th>
                <th scope="col">IP-Adresse</th>
                <th scope="col">Gerät</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PostReadsViewModel.Read read in Model.Reads)
            {
                <tr>
                    <td>@read.SubscriberName</td>
                    <td><span class="js-convert-datetime" data-timestamp="@read.AccessTime.ToUnixTimeMilliseconds()"></span></td>
                    <td>@read.IpAddress</td>
                    <td>
                        @if (read.ClientInfo != null)
                        {
                            var ci = read.ClientInfo;
                            Write($"{ci.UA.Family}, {ci.OS.Family} {ci.OS.Major}");
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Dieser Post wurde noch nie aufgerufen.</p>
}

@section Scripts {
    <script src="~/js/dateconverter.js" asp-append-version="true"></script>
}
